<section class="card">
  <h4 class="card-header">Skills</h4>

  <div class="lista">
    <h5>
      Hard Skills
    </h5>
    <div class="listaskills">
      <app-item-skill
        *ngFor="let skill of habilidadHard"
        [skill]="skill"
        class="m-2"
      ></app-item-skill>
    </div>
  </div>

  <div class="lista">
    <h5>
      Soft Skills
    </h5>
    <div class="listaskills">
      <app-item-skill
        *ngFor="let skill of habilidadSoft"
        [skill]="skill"
        class="m-2"
      ></app-item-skill>
    </div>
  </div>
</section>
