<section class="card">
        <img
        alt=""
        src="{{persona.urlBanner}}"
        class="card-img-top"
        *ngIf="persona.urlBanner"
      />
    <div class="personal">
      <div class="perfil">
        <img class="imagen img-thumbnail" src="{{persona.urlFoto}}" alt="Foto de Perfil" *ngIf="persona.urlFoto; else: placeholder"/>
        <ng-template #placeholder><div class="imagen placeholder img-thumbnail"></div></ng-template>
        <p>{{edad}} años</p>
        <p>{{persona.profesion}}</p>
      </div>

      <div class="descripcion">
        <h2>
          {{persona.nombreCompleto}} 
        </h2>
        <p>
          {{persona.descripcion}}
        </p>
      </div>
    </div>
  </section>