<section class="card">
        <img
        alt=""
        src="{{persona.urlBanner}}"
        class="card-img-top"
      />
    <div class="personal">
      <div class="perfil">
        <img class="img-thumbnail" src="{{persona.urlFoto}}" alt="Foto de Perfil"/>
        <p>{{edad}} años</p>
        <p>{{persona.profesion}}</p>
      </div>

      <div class="descripcion">
        <h2>
          {{persona.nombreCompleto}} 
        </h2>
        <p>
          {{persona.descripcion}}
        </p>
      </div>
    </div>
  </section>