<section class="card">
  <h4 class="card-header">
    Formación Profesional
  </h4>

  <div class="itemlista" *ngFor="let form of formacion">
    <div class="infoitem">
      <div class="imagen d-flex align-items-center justify-content-center">
        <div *ngIf="form.urlImagen != ''; else placeholder">
          <img class="img-thumbnail img-fluid" src="{{ form.urlImagen }}"/>
        </div>
        <ng-template #placeholder> <fa-icon [icon]="icono"></fa-icon> </ng-template>
      </div>
      <div class="infoitem-detalle">
        <h5>{{ form.carrera }}
        </h5>
        <p class="cursiva">
          <span *ngIf="form.fechaFin; then fechafin; else encurso"></span>
          <ng-template #fechafin>{{ form.fechaFin }}</ng-template>
          <ng-template #encurso>En curso</ng-template>
        </p>
        <p>
          {{ form.institucion }}
        </p>
      </div>
    </div>
  </div>
</section>
