header {
    background-color: var(--neutro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 2em;
  }
  .logoAP {
    height: 70%;
  }
  .logoAP img {
    height: 100%;
  }
  .contacto{
    height:100%;
    display: flex;
    align-items: center;
    gap: 0;
  }
  .contacto .boton{
    margin:0 1em;
  }

