<section class="card">
  <h4 class="card-header">
    Experiencia Laboral
  </h4>

  <div class="itemlista" *ngFor="let exp of experiencia">
    <div class="infoitem">
      <div class="imagen d-flex align-items-center justify-content-center">
        <div *ngIf="exp.urlImagen != ''; else placeholder">
          <img class="img-thumbnail img-fluid" src="{{ exp.urlImagen }}"/>
        </div>
        <ng-template #placeholder> <fa-icon [icon]="icono"></fa-icon> </ng-template>
      </div>
      
      <div class="infoitem-detalle">
        <h5>
          {{ exp.puesto }}
        </h5>
        <p class="cursiva">
          {{ exp.fechaDesde }} -
          <span
            *ngIf="exp.fechaHasta; then fechahasta; else actualidad"
          ></span>
          <ng-template #fechahasta>{{ exp.fechaHasta }}</ng-template>
          <ng-template #actualidad>Actualidad</ng-template>
        </p>
        <p>
          {{ exp.institucion }}
        </p>
      </div>
    </div>
  </div>
</section>
