<section>
  <h4>
    Experiencia Laboral
    <div class="botones-grupo">
      <app-boton-modificar [accion]="'Agregar'"></app-boton-modificar>
    </div>
  </h4>

  <div class="itemlista" *ngFor="let exp of experiencia">
    <div class="infoitem">
      <div class="imagen">
        <div *ngIf="exp.urlImagen != ''; else placeholder"><img src="{{ exp.urlImagen }}"/></div>
        <ng-template #placeholder> <fa-icon [icon]="icono"></fa-icon> </ng-template>
      </div>
      
      <div class="infoitem-detalle">
        <h5>
          {{ exp.puesto }}
          <div class="botones-grupo">
            <app-boton-modificar [accion]="'Editar'"></app-boton-modificar>
            <app-boton-modificar [accion]="'Eliminar'"></app-boton-modificar>
          </div>
        </h5>
        <p class="cursiva">
          {{ exp.fechaDesde }} -
          <span
            *ngIf="exp.fechaHasta; then fechahasta; else actualidad"
          ></span>
          <ng-template #fechahasta>{{ exp.fechaHasta }}</ng-template>
          <ng-template #actualidad>Actualidad</ng-template>
        </p>
        <p>
          {{ exp.institucion }}
        </p>
      </div>
    </div>
  </div>
</section>
