<section class="card">
    <h4 class="card-header">Proyectos Realizados
        <div class="botones-grupo">
            <app-boton-modificar [accion]="'Agregar'"></app-boton-modificar>
        </div>
    </h4>

    <div class="itemlista" *ngFor="let proy of proyecto">
        <div class="infoitem">
            <div class="infoitem-detalle">

                <form (ngSubmit)="onEditProyecto(proy)">
                    <fieldset [disabled]="!(selectedItem === proy)">
                        <div class="d-flex flex-row mb-3 align-items-center gap-3">
                            <label for="tituloProyecto" class="col-form-label col-4">Título del Proyecto</label>
                            <input type="text" id="tituloProyecto" class="form-control" name="tituloProyecto"
                                [(ngModel)]="proy.tituloProyecto" />
                        </div>
                        <div class="d-flex flex-row mb-3 align-items-center gap-3">
                            <label for="descripcion" class="col-form-label col-4">Descripción</label>
                            <textarea id="descripcion" class="form-control" rows="2" name="descripcion"
                                [(ngModel)]="proy.descripcion"></textarea>
                        </div>
                        <div class="d-flex flex-row mb-3 align-items-center gap-3">
                            <label for="urlProyecto" class="col-form-label col-4">Url Imagen</label>
                            <input type="text" id="urlProyecto" class="form-control" name="urlProyecto"
                                [(ngModel)]="proy.urlProyecto" />
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="boton col-auto"
                                [ngClass]="{ 'btn btn-outline-secondary': !(selectedItem === proy) }">
                                Guardar Cambios
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="d-flex flex-row align-self-start">
            <app-boton-modificar [accion]="'Editar'" (click)="onSelectProyecto(proy)"></app-boton-modificar>
            <app-boton-modificar [accion]="'Eliminar'" (click)="onDeleteProyecto(proy)"></app-boton-modificar>
        </div>
    </div>
</section>