.boton.modificar {
    height: 25px;
    border-radius: 20px;
    padding: 1em;
    overflow: hidden;
    font-size: small;
  }
  .boton.modificar p{
    width:50px;
    margin: auto;
  }
  .boton.modificar div{
    width:0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
  }
  .boton.modificar:hover div{
    width:50px;
    margin: 0 auto;
    transition: width 0.3s ease-in-out;}
    