    <!--Solo muestra skills de la categoria correspondiente-->
    <div *ngIf="habilidad.tipoSkill === tiposkill.nombreTipoSkill">
        <p>{{habilidad.nombreHabilidad}}</p>
        <div class="skillitem-lista">
          <div class="total">
            <div class="progreso" [ngStyle]="{'width' : (habilidad.nivelHabilidad / habilidad.valorMax)*100 + '%'}"></div>
          </div>
          <div class="botones-grupo">
            <app-boton-modificar [accion]="'editar'"></app-boton-modificar>
            <app-boton-modificar [accion]="'eliminar'"></app-boton-modificar>
          </div>
        </div>
    </div>