:root {
    --primario-1: #f4f5fa;
    --primario-2: #eeeeee;
    --neutro: #1b1b27;
        --neutro-2: #313949;
    --acento: #139b9b;
  }
  body {
    margin: 0px;
    background-color: var(--primario-1);
    color: var(--neutro);
  }
  .cursiva {
    font-style: italic;
  }

  a{
    /*Bootstrap interfiere con el subrayado*/
    text-decoration: none !important;
  }
  .card-header{
    background-color: var(--neutro-2);
    color: var(--primario-1);
  }
  .contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .redes {
    display: flex;
  }
  .redes img {
    height: 2em;
    width: 2em;
    margin-left: 8px;
  }
  .boton {
    border: 2px solid var(--acento);
    background-color: transparent;
    color: var(--acento);
    font-weight: bold;
    padding: 5px 1em;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .boton:hover {
    background-color: var(--acento);
    color: var(--primario-1);
  }
  .boton:active {
    background-color: transparent;
    transition: all 0.05s ease-in-out;
  }


  section {
    background-color: var(--primario-2);
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--neutro);
    overflow: hidden;
  }
  .itemlista {
    margin: 1em 2em;
    justify-content: space-between;
  }
  .infoitem .imagen {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    object-fit: scale-down;
    font-size: 40px;
    border-radius: 10px;
  }
  .infoitem-detalle {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .total {
    background-color: var(--primario-1);
    box-shadow: var(--neutro) 1px 1px 10px;
  }
  .progreso {
    background-color: var(--acento);
  }
    
  footer {
    background-color: var(--neutro);
    color: var(--primario-1);
  }
  
  .botones-grupo {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  
  h2,
  h4,
  h5,
  .itemlista,
  .infoitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

