<section>
  <h4>
    Experiencia Laboral
    <div class="botones-grupo">
      <app-boton-modificar [accion]="'Agregar'"></app-boton-modificar>
    </div>
  </h4>

  <div class="itemlista" *ngFor="let exp of experiencia">
    <div class="infoitem">
      <div class="imagen">
        <div *ngIf="exp.urlImagen != ''; else placeholder"><img src="{{ exp.urlImagen }}" /></div>
        <ng-template #placeholder> <fa-icon [icon]="icono"></fa-icon> </ng-template>
      </div>
      <div class="infoitem-detalle">
        <form>
          <fieldset [disabled]="!(selectedItem === exp)">

            <div class="d-flex flex-row justify-content-between">
              <div class="row mb-3 align-items-center">
                <div class="col-auto">
                  <label for="puesto" class="col-form-label">Puesto</label>
                </div>
                <div class="col-auto">
                  <input type="text" id="puesto" class="form-control" name="puesto" [(ngModel)]="exp.puesto" />
                </div>
              </div>
              <div class="botones-grupo">
                <app-boton-modificar [accion]="'Editar'" (click)="onEditExperiencia(exp)"></app-boton-modificar>
                <app-boton-modificar [accion]="'Eliminar'" (click)="onDeleteExperiencia(exp)"></app-boton-modificar>
              </div>
            </div>

            <div class="row mb-3 align-items-center">
              <label for="fechaDesde" class="form-label">Fecha de Inicio</label>
              <input type="date" id="fechaDesde" class="form-control" name="fechaDesde" [(ngModel)]="exp.fechaDesde" />
            </div>

            <div class="row mb-3 align-items-center">
              <label for="fechaHasta" class="form-label">Fecha de Fin</label>
              <input type="date" id="fechaHasta" class="form-control" name="fechaHasta"
                [(ngModel)]="exp.fechaHasta" />
            </div>

            <div class="row mb-3 align-items-center">
              <label for="institucion" class="form-label">Institución</label>
              <input
              type="text"
              id="institucion"
              class="form-control"
              name="institucion"
              [(ngModel)]="exp.institucion"
            />
          </div>

<div class="row mb-3 align-items-center">
  <label for="urlImagen" class="form-label">urlImagen</label>
  <input
  type="text"
  id="urlImagen"
  class="form-control"
  name="urlImagen"
  [(ngModel)]="exp.urlImagen"
/>
</div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>